<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
<title>Controle de Livros</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container">
		<div class="jumbotron" align="center" style="margin-top: 50px;">
			<h1 th:utext="${titulo}"></h1>
			<div align="center">
				<form th:action="@{/biblioteca}" method="get">
					<button class="btn btn-md btn-primary btn-block" type="Submit">
						<span class="glyphicon glyphicon-book" aria-hidden="true"></span> Biblioteca
					</button>
				</form>
			</div>
		</div>
	</div>

</body>
</html>